@model openPER.Models.TableViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>TableView</h1>
<p>
@Resources.FrontEnd.IntroParagraph
</p>

<div>
    <h4>TableViewModel - @Html.DisplayFor(model=>model.Path)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MakeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MakeDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogueCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogueCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubGroupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubGroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SgsCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SgsCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogueDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogueDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubGroupDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubGroupDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SgsDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SgsDesc)
        </dd>
    </dl>
                @foreach (var item in Model.Narratives)
            {
                <p>
                    Hello
                @item
                </p>
            }

    <br/>
    <div class="flex-container">
        <div>
        <img src="@Url.Action("Image", "Table", new {Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SgsCode = Model.SgsCode, Drawing=Model.CurrentDrawing})">
        </div>
        <div>
    <table>
        <tr><th>&nbsp;</th><th>Prod. code</th><th>Fur. Descr.</th><th>Comp.</th><th>Modif.</th><th>Qty</th><th>Notes</th><th>Components</th></tr>
                @{
                    int lastOrder=999;
                    foreach (var item in Model.Parts)
                    {
                        if (item.TableOrder != lastOrder)
                        {
                                        <tr class="partrowheader"><td>@Html.DisplayFor(model=>item.TableOrder)</td><td colspan="7">@Html.DisplayFor(model=>item.Description)</td></tr>
                            lastOrder = item.TableOrder;
                        }
                                    <tr class="partrow">
                                        <td>&nbsp;</td>
                                        <td class="partrowproductcode">@Html.DisplayFor(model=>item.PartNumber)</td>
                                        <td>@Html.DisplayFor(model=>item.FurtherDescription)</td>
                                        <td>@Html.DisplayFor(model=>item.Compatibility)</td>
                                        <td>
                                            <ul>
                                                @foreach (var mod in item.Modifications)
                                    {
                                                    <li title="@mod.FullDescription">@Html.DisplayFor(model=>mod.Type)@Html.DisplayFor(model=>mod.Code)</li>
                                    }
                                            </ul>
                                        </td>
                                        <td>@Html.DisplayFor(model=>item.Quantity)</td>
                                        <td>@Html.DisplayFor(model=>item.Notes)</td>

                                    </tr>
                    }
                }
        </table>
    </div></div>
    @foreach (var drawing in Model.DrawingNumbers)
    {
            <p>
                <a href="@Url.Action("Details", "Table",  new {Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SgsCode = Model.SgsCode, Drawing=drawing})">
        <img src="@Url.Action("Thumbnail", "Table", new {Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SgsCode = Model.SgsCode, Drawing=drawing})">
        </a>
        </p>
        
    }

    </div>
