@model openPER.ViewModels.TableViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>TableView</h1>
<p>
    @Resources.FrontEnd.IntroParagraph
</p>

<div>
    <h4>TableViewModel - @Html.DisplayFor(model=>model.Path)</h4>
    <hr />
    @foreach (var item in Model.Narratives)
    {
        <p>
            @item
        </p>
    }

    <br />
    <div class="flex-container">
        <div>
            <img src="@Url.Action("Drawing", "Image", new { Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SubSubGroup=Model.SubSubGroupCode, Drawing=Model.CurrentDrawing})">
        </div>
        <div>
            <table class="table table-sm">
                <tr><th>&nbsp;</th><th>Prod. code</th><th>Fur. Descr.</th><th>Comp.</th><th>Modif.</th><th>Qty</th><th>Notes</th><th>Components</th></tr>
                @{
                    int lastOrder = 999;
                    foreach (var item in Model.Parts)
                    {
                        if (item.TableOrder != lastOrder)
                        {
                            <tr class="partrowheader"><td>@Html.DisplayFor(model=>item.TableOrder)</td><td colspan="7">@Html.DisplayFor(model=>item.Description)</td></tr>
                            lastOrder = item.TableOrder;
                        }
                        <tr class="partrow">
                            <td>&nbsp;</td>
                            <td class="partrowproductcode"><a href="@Url.Action("SearchResults", "Part", new {item.PartNumber} )">@Html.DisplayFor(model=>item.PartNumber)</a></td>
                            <td>@Html.DisplayFor(model=>item.FurtherDescription)</td>
                            <td>@Html.DisplayFor(model=>item.Compatibility)</td>
                            <td>
                                <ul>
                                    @foreach (var mod in item.Modifications)
                                    {
                                        <li title="@mod.FullDescription">@Html.DisplayFor(model=>mod.Type)@Html.DisplayFor(model=>mod.Code)</li>
                                    }
                                </ul>
                            </td>
                            <td>@Html.DisplayFor(model=>item.Quantity)</td>
                            <td>@Html.DisplayFor(model=>item.Notes)</td>
                            <td></td>

                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    @foreach (var drawing in Model.DrawingNumbers)
    {
        <p>
            <a href="@Url.Action("Details", "Table",  new {Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SgsCode = Model.SubSubGroupCode, Drawing=drawing})">
                <img src="@Url.Action("Thumbnail", "Image", new {Make=Model.MakeCode, Model=Model.ModelCode, Catalogue=Model.CatalogueCode, Group = Model.GroupCode, SubGroup = Model.SubGroupCode, SubSubGroup=Model.SubSubGroupCode, Drawing=drawing})">
            </a>
        </p>

    }

</div>
