@model IEnumerable<openPER.Models.GroupModel>

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

@foreach (var item in Model) {
    <details><summary>@Html.DisplayFor(modelItem => item.Code) @Html.DisplayFor(modelItem => item.Description)</summary>
        <ul>
@*    @foreach (var subGroup in item.SubGroups)
            {
                <li>@item.Code.ToString("000") @subGroup.Code.ToString("00")) @Html.DisplayFor(modelItem => subGroup.Description)</li>
            }
*@    </ul>
    </details>
}