@using openPER.ViewModels
@model VinSearchViewModel

@{
    ViewData["Title"] = "VinSearchView";
}
@if (Model != null && Model.MvsData != null)
{
    <table class="table-sm">
        <caption>List of vehicle details</caption>
        <tr><td>Model</td><td>@Html.DisplayTextFor(m=>m.MvsData.MvsCode) | @Html.DisplayTextFor(m=>m.MvsData.ModelDescription)</td></tr>
        <tr><td>Chassis No.</td><td>@Html.DisplayTextFor(m=>m.ChassisNumber)</td></tr>
        <!-- TODO this shouldn't be hardcoded as a BArchetta' -->
        <tr><td>Catalogue</td><td>@Html.ActionLink(Model.MvsData.CatalogueCode +" | "+Model.MvsData.CatalogueDescription, "Index", "Groups", new { MakeCode=Model.MvsData.MakeCode,SubMakeCode=Model.MvsData.SubMakeCode, ModelCode=Model.MvsData.ModelCode, CatalogueCode=Model.MvsData.CatalogueCode})</td></tr>
        <tr><td>MVS</td><td>@Html.DisplayTextFor(m=>m.MvsData.FullMvsCode) | @Html.DisplayTextFor(m=>m.MvsData.Description)</td></tr>
        <tr><td>Engine stamp</td><td>@Html.DisplayTextFor(m=>m.MvsData.EngineType)</td></tr>
        <tr><td>Version code</td><td>@Html.DisplayTextFor(m=>m.MvsData.SincomVersion)</td></tr>
        <tr><td>Version</td><td>@Html.DisplayTextFor(m=>m.MvsData.VariantCode) | @Html.DisplayTextFor(m=>m.MvsData.VariantDescription)</td></tr>
        <tr><td>Engine version</td><td>@Html.DisplayTextFor(m=>m.MvsData.EngineCode) | @Html.DisplayTextFor(m=>m.MvsData.EngineDescription)</td></tr>
        <tr><td>Interior colour</td><td>@Html.DisplayTextFor(m=>m.MvsData.ColourCode) | @Html.DisplayTextFor(m=>m.MvsData.ColourDescription)</td></tr>
        <tr><td>Production date</td><td>@Html.DisplayTextFor(m=>m.ProductionDate)</td></tr>
        <tr><td>Vehicle No.</td><td>@Html.DisplayTextFor(m=>m.Organization)</td></tr>
        <tr><td>Engine No.</td><td>@Html.DisplayTextFor(m=>m.EngineNumber)</td></tr>
    </table>
}
else
{
    <p>Vehicle not found</p>
}