@model openPER.ViewModels.GroupsViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumb)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Models - Versions</th>
                    </tr>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.Groups)
                    {
                        <tr><td>@Html.ActionLink($"{group.DisplayCode} {group.Description}", "Index", "SubGroups", new {Model.ReleaseCode,Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, GroupCode=group.Code})</td></tr>
                    }
                    <tr>
                        <td>@Html.ActionLink("All drawings", "Index", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode, DrawingNumber=1})</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <strong>Main category selection</strong>
            <p>Select the main category from the side menu or directly from the car map.</p>
            <div style="position: relative; left: 0px; right: 0px;">
                <img src="@Url.Action("CatalogueImage", "Image", new { Model.ReleaseCode, Make = Model.MakeCode, SubMake = Model.SubMakeCode, Model = Model.ModelCode, Catalogue = Model.CatalogueCode })">
                
                @foreach (var mapEntry in Model.MapEntries)
                {
                    <a href="@Url.Action("Index", "SubGroups", new {Model.ReleaseCode,Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, GroupCode=mapEntry.GroupCode})">
                        <div style="position: absolute; top: @(mapEntry.Y+"px"); left: @(mapEntry.X+"px"); width: 24px;height:24px">
                            <img src="~/SiteImages/SelectCircle.png"/></div></a>

                }
            </div>
        </div>
    </div>

</div>