@model openPER.ViewModels.GroupsViewModel

@{
    ViewData["Title"] = $"Groups for {Model.Navigation.Breadcrumb.MakeDescription} {Model.Navigation.Breadcrumb.ModelDescription} {Model.Navigation.Breadcrumb.CatalogueDescription}";
}
@section Navbar
    {
    @await Html.PartialAsync("_Navbar", Model.Navigation)
}

@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <strong>@Resources.FrontEnd.CategorySelectTitle</strong>
            <p>@Resources.FrontEnd.CategorySelectBody</p>
            <div style="position: relative; left: 0; right: 0;">
                <img src="@Model.ImagePath" alt="Image of car model">
                @foreach (var mapEntry in Model.MapEntries)
                {
                    <a title="@($"{mapEntry.GroupCode:000} {mapEntry.Description}")" href="@Url.Action("Index", "SubGroups", new {Model.Navigation.Language, Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, mapEntry.GroupCode, MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})">
                        <div style="position: absolute; top: @(mapEntry.Y+"px"); left: @(mapEntry.X+"px"); width: 24px;height:24px">
                            <img src="~/SiteImages/SelectCircle.png" />
                        </div>
                    </a>

                }
            </div>
            @using (Html.BeginForm("SearchPartByCatalogueAndCode", "Part", FormMethod.Get, new { @class = " p-4", role = "form" }))
            {
                <div class="row">
                    <input id="languageId" name="language" hidden value="@Model.Navigation.Language" />
                    <input id="catalogueCode" name="catalogueCode" hidden value="@Model.Navigation.Breadcrumb.CatalogueCode" />
                    <input id="mvs" name="Mvs" hidden value="@Model.Navigation.Filter.Mvs" />
                    <input id="vin" name="Vin" hidden value="@Model.Navigation.Filter.Vin" />
                    <div class=col-3>
                        <label>Find parts</label>
                    </div>
                    <div class="col-8">
                        <div class="form-floating">
                            @Html.TextBox("searchText",null,new { @class = "form-control", type = "search", placeholder = "Part name", id = "searchByPart" })
                            <label for="searchByPart">@Resources.FrontEnd.SearchByPartPartDescription</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }
            @if (string.IsNullOrEmpty(Model.Navigation.Filter.Mvs))
            {
                <a href="@Url.Action("AllParts", "Part", new{language = Model.Navigation.Language, catalogueCode = Model.CatalogueCode})">Download parts list</a>
            }
            else
            {
                <a href="@Url.Action("AllPartsFiltered", "Part", new{language = Model.Navigation.Language, catalogueCode = Model.CatalogueCode, vin=Model.Navigation.Filter.Vin, mvs = Model.Navigation.Filter.Mvs})">Download parts list</a>

            }

            <ul class="nav nav-tabs" id="catalogueTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="category-tab" data-bs-toggle="tab" data-bs-target="#cat" type="button" role="tab" aria-controls="cat" aria-selected="true">All categories</button>
                </li>
                @if (string.IsNullOrEmpty(Model.Navigation.Filter.Mvs))
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="variants-tab" data-bs-toggle="tab" data-bs-target="#var" type="button" role="tab" aria-controls="var" aria-selected="false">All variants</button>
                    </li>
                }
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="mod-tab" data-bs-toggle="tab" data-bs-target="#mod" type="button" role="tab" aria-controls="mod" aria-selected="false">All modifications</button>
                </li>
            </ul>
            <div class="tab-content" id="catalogueTabContent">
                <div class="tab-pane fade show active" id="cat" role="tabpanel" aria-labelledby="category-tab">
                    <table class="table-sm">
                        @foreach (var group in Model.Groups.OrderBy(x => x.Code))
                        {
                            <tr>
                                <td>@group.Code - @group.Description</td>
                                <td>@Html.ActionLink("Go to group", "Index", "SubGroups", new { Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, Model.Navigation.Breadcrumb.ModelCode, Model.Navigation.Breadcrumb.CatalogueCode,GroupCode=group.Code, VIN=Model.Navigation.Filter.Vin, MVS=Model.Navigation.Filter.Mvs  })
                            </tr>
                            @foreach (var subgroup in group.SubGroups.OrderBy(x => x.Code))
                            {
                                <tr>
                                    <td>@subgroup.FullDisplayCode - @subgroup.Description</td>
                                    <td>@Html.ActionLink("Go to sub group", "Index", "SubSubGroups", new { Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, Model.Navigation.Breadcrumb.ModelCode, Model.Navigation.Breadcrumb.CatalogueCode, GroupCode=group.Code, SubGroupCode=subgroup.Code, VIN=Model.Navigation.Filter.Vin, MVS=Model.Navigation.Filter.Mvs  })
                                </tr>
                            }
                        }
                    </table>
                </div>
                @if (string.IsNullOrEmpty(Model.Navigation.Filter.Mvs))
                {
                    <div class="tab-pane fade" id="var" role="tabpanel" aria-labelledby="variants-tab">
                        <table class="table-sm">
                            @foreach (var variant in Model.ModelVariants.OrderBy(x => x.Description))
                            {
                                <tr>
                                    <td>@variant.Description</td>
                                    <td>@variant.Sincom</td>
                                    <td>@Html.ActionLink("Go to catalogue", "Index", "Groups", new { Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, Model.Navigation.Breadcrumb.ModelCode, Model.Navigation.Breadcrumb.CatalogueCode, VIN="", MVS=variant.Sincom })
                                </tr>
                            }
                        </table>
                    </div>
                }
                <div class="tab-pane fade" id="mod" role="tabpanel" aria-labelledby="mod-tab">
                    <table class="table-sm">
                        <tr><th>Modification</th><th>Description</th><th>Activations</th></tr>
                        @foreach (var mod in Model.Modifications.OrderBy(x => x.Code))
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(mod.Code.ToString(), "Index", "Modification", new { Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, Model.Navigation.Breadcrumb.ModelCode, Model.Navigation.Breadcrumb.CatalogueCode, ModificationNumber = @mod.Code, Model.Navigation.Filter.Vin, Model.Navigation.Filter.Mvs})
                                </td>
                                <td>@mod.Description</td>
                                <td>
                                    @foreach (var act in mod.Activations)
                                    {
                                        <span>@act.ActivationDescription </span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>