@using openPERModels
@model openPER.ViewModels.SubSubGroupsViewModel

@{
    ViewData["Title"] = "Index";
}
@section Navbar
{
    @await Html.PartialAsync("_Navbar", Model.Navigation)
}

@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)

        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <strong>Subcategory selection</strong>
            <p>Select a subcategory from the side menu or directly from the map.</p>
            <table class="table table-sm">
                <thead><tr><th>Subcategory</th><th>Compatibility</th><th>Compatibility description</th></tr></thead>
                @foreach (var group in Model.SubSubGroups)
                {
                    <tr>
                        <td>
                            @if (group.Visible)
                            {
                                @Html.ActionLink($"{Model.GroupCode:000}{Model.SubGroupCode:00}/{group.Code:00} {group.Description}", "Detail", "Drawings", new {Model.Navigation.Language, Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, Model.SubGroupCode, SubSubGroupCode=group.Code, DrawingNumber=0, Scope=DrawingsScope.SubSubGroup, MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})
                            }
                            else
                            {
                                <del>
                                    @Html.ActionLink($"{Model.GroupCode:000}{Model.SubGroupCode:00}/{group.Code:00} {group.Description}", "Detail", "Drawings", new {Model.Navigation.Language, Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, Model.SubGroupCode, SubSubGroupCode=group.Code, DrawingNumber=0, Scope=DrawingsScope.SubSubGroup, MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})
                                </del>
                            }
                        </td>
                        <td>
                            @group.ApplicabilityText
                        </td>
                        <td>
                            <table>
                                @foreach (var mod in group.Modifications)
                                {
                                    <tr>
                                        <td>@mod.FullDescription</td>
                                    </tr>
                                }
                                @foreach (var pat in group.PatternParts)
                                {
                                    <tr>
                                        <td>@pat.FullDescription</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
                <tr><td>@Html.ActionLink("All drawings", "Detail", "Drawings", new {Model.Navigation.Language, Model.MakeCode, Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode,Model.GroupCode,Model.SubGroupCode,SubSubGroupCode = "ALL", DrawingNumber=0, Scope=DrawingsScope.SubGroup, MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})</td></tr>

            </table>

        </div>
    </div>
</div>
