@model openPER.ViewModels.DrawingsViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumb)
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="subGroupMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    "Group"
                </a>
                <div class="dropdown-menu" aria-labelledby="subGroupMenuLink">
                    @{
                        int ix = 1;
                        @foreach (var drawing in Model.Drawings.GroupBy(x=>new {x.MakeCode, x.SubMakeCode,x.ModelCode, x.CatalogueCode, x.GroupCode, x.SubGroupCode, x.SubSubGroupCode}, (key, group)=>new {key.MakeCode, key.SubMakeCode,key.ModelCode, key.CatalogueCode, key.GroupCode, key.SubGroupCode, key.SubSubGroupCode}))
                        {
                            
                            @Html.ActionLink($"{drawing.GroupCode:000}{drawing.SubGroupCode:00}/{drawing.SubSubGroupCode:00}", "Detail", "Drawings", new {drawing.MakeCode, drawing.SubMakeCode, drawing.ModelCode, drawing.CatalogueCode, drawing.GroupCode, drawing.SubGroupCode, drawing.SubSubGroupCode, DrawingNumber = 1 }, new {@class="dropdown-item"});
                        }
                    }
                </div>
            </div>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="variantMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @($"{Model.Drawings[Model.TableData.CurrentDrawing-1].DrawingNumber} {Model.Drawings[Model.TableData.CurrentDrawing-1].VariantPattern}")
                </a>
                <div class="dropdown-menu" aria-labelledby="variantMenuLink">
                    @{
                        ix = 1;
                        @foreach (var drawing in Model.Drawings)
                        {
                            @Html.ActionLink($"{drawing.DrawingNumber} {drawing.VariantPattern}", "Detail", "Drawings", new {drawing.MakeCode, drawing.SubMakeCode, drawing.ModelCode, drawing.CatalogueCode, drawing.GroupCode, drawing.SubGroupCode, drawing.SubSubGroupCode, DrawingNumber = ix++ }, new {@class="dropdown-item"});
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="@Url.Action("Drawing", "Image", new {Make = Model.TableData.MakeCode, Model = Model.TableData.ModelCode, Catalogue = Model.TableData.CatalogueCode, Group = Model.TableData.GroupCode, SubGroup = Model.TableData.SubGroupCode, SubSubGroup = Model.TableData.SubSubGroupCode, Drawing = Model.TableData.CurrentDrawing })">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container horizontal-scrollable">
                            <div class="row text-center">
                                @{
                                    ix = 1;
                                    @foreach (var drawing in Model.Drawings)
                                    {
                                        <div class="col-xs-4">
                                            <img class="img-fluid" src="@Url.Action("Thumbnail", "Image", new {Make = drawing.MakeCode, Model = drawing.ModelCode, Catalogue = drawing.CatalogueCode, Group = drawing.GroupCode, SubGroup = drawing.SubGroupCode, SubSubGroup = drawing.SubSubGroupCode, Drawing = drawing.DrawingNumber })"><br />
                                            @Html.ActionLink($"{drawing.CatalogueCode}/{drawing.GroupCode:000}{drawing.SubGroupCode:00}/{drawing.SubSubGroupCode:00}/{ix}", "Detail", "Drawings", new {drawing.MakeCode, drawing.SubMakeCode, drawing.ModelCode, drawing.CatalogueCode, drawing.GroupCode, drawing.SubGroupCode, drawing.SubSubGroupCode, DrawingNumber = ix++ })
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <table class="table table-sm">
                <tr><th>&nbsp;</th><th>Prod. code</th><th>Fur. Descr.</th><th>Comp.</th><th>Modif.</th><th>Qty</th><th>Notes</th><th>Components</th></tr>
                @{

                    int lastOrder = 999;
                    @foreach (var item in Model.TableData.Parts)
                    {
                        if (item.TableOrder != lastOrder)
                        {
                            <tr><td>@Html.DisplayFor(model => item.TableOrder)</td><td colspan="7">@Html.DisplayFor(model => item.Description)</td></tr>
                            lastOrder = item.TableOrder;
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td><a href="@Url.Action("SearchResults", "Part", new { item.PartNumber })">@Html.DisplayFor(model => item.PartNumber)</a> <a href="https://www.google.com/search?q=FIAT+@item.PartNumber" target="_blank" class="bi bi-search"></a></td>
                            <td>@Html.DisplayFor(model => item.FurtherDescription)</td>
                            <td>@Html.DisplayFor(model => item.Compatibility)</td>
                            <td>
                                <ul>
                                    @foreach (var mod in item.Modifications)
                                    {
                                        <li title="@mod.FullDescription">@Html.DisplayFor(model => mod.Type)@Html.DisplayFor(model => mod.Code)</li>
                                    }
                                </ul>
                            </td>
                            <td>@Html.DisplayFor(model => item.Quantity)</td>
                            <td>@Html.DisplayFor(model => item.Notes)</td>
                            <td>
                                @if (item.IsAComponent)
                                {
                                    @Html.ActionLink("Go", "Detail", "Cliche", new { Model.TableData.MakeCode, Model.TableData.SubMakeCode, Model.TableData.ModelCode, Model.TableData.CatalogueCode, Model.TableData.GroupCode, Model.TableData.SubGroupCode, Model.TableData.SubSubGroupCode, DrawingNumber = Model.TableData.CurrentDrawing, ClichePartNumber = item.PartNumber, ClicheDrawingNumber = 1 })
                                }
                            </td>

                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


