@using System.Xml.XPath
@model openPER.ViewModels.DrawingsViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumb)

<h1>Drawings view</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="@Url.Action("Drawing", "Image", new { Make = Model.TableData.MakeCode, Model = Model.TableData.ModelCode, Catalogue = Model.TableData.CatalogueCode, Group = Model.TableData.GroupCode, SubGroup = Model.TableData.SubGroupCode, SubSubGroup = Model.TableData.SubSubGroupCode, Drawing = Model.TableData.CurrentDrawing })">
        </div>
        <div class="col-sm">
            <table class="table table-sm">
                <tr><th>&nbsp;</th><th>Prod. code</th><th>Fur. Descr.</th><th>Comp.</th><th>Modif.</th><th>Qty</th><th>Notes</th><th>Components</th></tr>
                @{

                    int lastOrder = 999;
                    @foreach (var item in Model.TableData.Parts)
                    {
                        if (item.TableOrder != lastOrder)
                        {
                            <tr class="partrowheader"><td>@Html.DisplayFor(model => item.TableOrder)</td><td colspan="7">@Html.DisplayFor(model => item.Description)</td></tr>
                            lastOrder = item.TableOrder;
                        }
                        <tr class="partrow">
                            <td>&nbsp;</td>
                            <td class="partrowproductcode"><a href="@Url.Action("SearchResults", "Part", new { item.PartNumber })">@Html.DisplayFor(model => item.PartNumber)</a> <a href="https://www.google.com/search?q=FIAT+@item.PartNumber" target="_blank" class="bi bi-search"></a></td>
                            <td>@Html.DisplayFor(model => item.FurtherDescription)</td>
                            <td>@Html.DisplayFor(model => item.Compatibility)</td>
                            <td>
                                <ul>
                                    @foreach (var mod in item.Modifications)
                                    {
                                        <li title="@mod.FullDescription">@Html.DisplayFor(model => mod.Type)@Html.DisplayFor(model => mod.Code)</li>
                                    }
                                </ul>
                            </td>
                            <td>@Html.DisplayFor(model => item.Quantity)</td>
                            <td>@Html.DisplayFor(model => item.Notes)</td>
                            <td>@item.IsAComponent</td>

                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


<div class="container horizontal-scrollable">
    <div class="row text-center">
        @{
            int ix = 1;
            @foreach (var drawing in Model.Drawings)
            {
                <div class="col-xs-4">
                    <img src="@Url.Action("Thumbnail", "Image", new { Make = drawing.MakeCode, Model = drawing.ModelCode, Catalogue = drawing.CatalogueCode, Group = drawing.GroupCode, SubGroup = drawing.SubGroupCode, SubSubGroup = drawing.SubSubGroupCode, Drawing = drawing.DrawingNumber })"><br />
                    @Html.ActionLink($"{drawing.CatalogueCode}/{drawing.GroupCode}/{drawing.SubGroupCode}/{drawing.SubSubGroupCode}/{ix}", "Detail", "Drawings", new { Model.ReleaseCode, drawing.MakeCode,drawing.SubMakeCode, drawing.ModelCode, drawing.CatalogueCode, drawing.GroupCode, drawing.SubGroupCode, SubSubGroupCode = drawing.SubSubGroupCode, DrawingNumber = ix++ })
                </div>
            }
        }
    </div>
</div>
