@using openPER.ViewModels;
@model NavigationViewModel
<div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("HOME", "Index", "Makes", new {Model.Language})</li>
            @if (Model.Breadcrumb.MakeCode != null)
            {
                <li class="breadcrumb-item">@Html.ActionLink(Model.Breadcrumb.SubMakeDescription, "Index", "Models", new {Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode })</li>
                @if (Model.Breadcrumb.ModelCode != null)
                {
                    <li class="breadcrumb-item">@Html.ActionLink(Model.Breadcrumb.ModelDescription, "Index", "Catalogues", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode })</li>
                    @if (Model.Breadcrumb.CatalogueDescription != null)
                    {
                        <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.CatalogueCode} {Model.Breadcrumb.CatalogueDescription}", "Index", "Groups", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })</li>
                        @if (Model.Breadcrumb.GroupCode != null & Model.Breadcrumb.GroupDescription != null)
                        {
                            <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000} {Model.Breadcrumb.GroupDescription}", "Index", "SubGroups", new {Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })</li>
                            @if (Model.Breadcrumb.SubGroupCode != null && Model.Breadcrumb.SubGroupDescription != null)
                            {
                                <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000}{Model.Breadcrumb.SubGroupCode.Value:00} {Model.Breadcrumb.SubGroupDescription}", "Index", "SubSubGroups", new {Model.Language,Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })</li>
                                @if (Model.Breadcrumb.SubSubGroupCode != null)
                                {
                                    <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000}{Model.Breadcrumb.SubGroupCode.Value:00}/{Model.Breadcrumb.SubSubGroupCode:00} {Model.Breadcrumb.SubSubGroupDescription}", "Detail", "Drawings", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, DrawingNumber = 0, Model.Breadcrumb.Scope, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })</li>
                                    @if (Model.Breadcrumb.DrawingNumber != null)
                                    {
                                        <li class="breadcrumb-item">
                                            @Html.ActionLink(Model.Breadcrumb.DrawingNumber.ToString(), "Detail", "Drawings", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })
                                        </li>
                                        @if (Model.Breadcrumb.ClichePartNumber != null)
                                        {
                                            <li class="breadcrumb-item">
                                                @Html.ActionLink(Model.Breadcrumb.ClichePartNumber, "Detail", "Cliche", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, Model.Breadcrumb.ClichePartNumber, ClicheDrawingNumber=1, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs })
                                            </li>
                                            @if (Model.Breadcrumb.ClicheDrawingNumber != null)
                                            {
                                                <li class="breadcrumb-item">
                                                    @Html.ActionLink(Model.Breadcrumb.ClicheDrawingNumber.ToString(), "Detail", "Cliche", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, Model.Breadcrumb.ClichePartNumber, Model.Breadcrumb.ClicheDrawingNumber, VIN=Model.Filter.Vin, MVS=Model.Filter.Mvs  })
                                                </li>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        </ol>
    </nav>
    @if (!string.IsNullOrEmpty(Model.Filter.Mvs))
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="nav-text px-1">Active filters:</span>
                <span class="nav-text px-1">SINCOM: @Model.Filter.Mvs</span>
                <span class="nav-text px-1">VIN: @Model.Filter.Vin</span>
                <span class="nav-text px-1">N. of parts: @Model.Filter.NumberForParts</span>
                <span class="nav-text px-1">Engine: @Model.Filter.Engine</span>
                <span class="nav-text px-1">@Model.Filter.BuildDate</span>
                @foreach (var item in Model.Filter.Options.Where(x => x.MultiValue).Take(5))
                {
                    <span class="nav-text px-1" title="@item.ValueDescription">@item.TypeCode@item.ValueCode</span>
                }
                <span class="nav-text px-1">
                    <button type="button" data-toggle="modal" data-target="#filterModal">All</button>
                </span>
        </nav>
        <div class="modal" tabindex="-1" role="dialog" id="filterModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @if (Model.Filter.DataSource == FilterDataSource.Sincom)
                        {
                            <h5 class="modal-title">SINCOM code configuration @Model.Filter.Mvs</h5>
                        }
                        else
                        {
                            <h5 class="modal-title">VIN configuration @Model.Filter.Vin</h5>
                        }
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table-sm">
                            @foreach (var item in Model.Filter.Options.Where(x => x.MultiValue))
                            {
                                <tr><td>@item.TypeDescription</td><td>@item.ValueDescription</td><td>@(item.TypeCode+item.ValueCode)</td></tr>
                            }
                            @foreach (var item in Model.Filter.Options.Where(x => !x.MultiValue).OrderBy(x => x.ValueDescription))
                            {
                                <tr><td>@item.ValueDescription</td><td>@(item.Present?"Yes":"No")</td><td>(@item.TypeCode)</td></tr>
                            }


                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
