@using openPER.ViewModels;
@model NavigationViewModel
<div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("HOME", "Index", "Makes", new {Model.Language})</li>
            @if (Model.Breadcrumb.MakeCode != null)
            {
                <li class="breadcrumb-item">@Html.ActionLink(Model.Breadcrumb.SubMakeDescription, "Index", "Models", new {Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode })</li>
                @if (Model.Breadcrumb.ModelCode != null)
                {
                    <li class="breadcrumb-item">@Html.ActionLink(Model.Breadcrumb.ModelDescription, "Index", "Catalogues", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode })</li>
                    @if (Model.Breadcrumb.CatalogueDescription != null)
                    {
                        <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.CatalogueCode} {Model.Breadcrumb.CatalogueDescription}", "Index", "Groups", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })</li>
                        @if (Model.Breadcrumb.GroupCode != null & Model.Breadcrumb.GroupDescription != null)
                        {
                            <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000} {Model.Breadcrumb.GroupDescription}", "Index", "SubGroups", new {Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })</li>
                            @if (Model.Breadcrumb.SubGroupCode != null && Model.Breadcrumb.SubGroupDescription != null)
                            {
                                <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000}{Model.Breadcrumb.SubGroupCode.Value:00} {Model.Breadcrumb.SubGroupDescription}", "Index", "SubSubGroups", new {Model.Language,Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })</li>
                                @if (Model.Breadcrumb.SubSubGroupCode != null)
                                {
                                    <li class="breadcrumb-item">@Html.ActionLink($"{Model.Breadcrumb.GroupCode.Value:000}{Model.Breadcrumb.SubGroupCode.Value:00}/{Model.Breadcrumb.SubSubGroupCode:00} {Model.Breadcrumb.SubSubGroupDescription}", "Detail", "Drawings", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, DrawingNumber = 0, Model.Breadcrumb.Scope, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })</li>
                                    @if (Model.Breadcrumb.DrawingNumber != null)
                                    {
                                        <li class="breadcrumb-item">
                                            @Html.ActionLink(Model.Breadcrumb.DrawingNumber.ToString(), "Detail", "Drawings", new { Model.Language, Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })
                                        </li>
                                        @if (Model.Breadcrumb.ClichePartNumber != null)
                                        {
                                            <li class="breadcrumb-item">
                                                @Html.ActionLink(Model.Breadcrumb.ClichePartNumber, "Detail", "Cliche", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, DrawingNumber = Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, ClichePartNumber = Model.Breadcrumb.ClichePartNumber, ClicheDrawingNumber=1, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS })
                                            </li>
                                            @if (Model.Breadcrumb.ClicheDrawingNumber != null)
                                            {
                                                <li class="breadcrumb-item">
                                                    @Html.ActionLink(Model.Breadcrumb.ClicheDrawingNumber.ToString(), "Detail", "Cliche", new {Model.Language,  Model.Breadcrumb.MakeCode, Model.Breadcrumb.SubMakeCode, Model.Breadcrumb.ModelCode, Model.Breadcrumb.CatalogueCode, Model.Breadcrumb.GroupCode, Model.Breadcrumb.SubGroupCode, Model.Breadcrumb.SubSubGroupCode, DrawingNumber = Model.Breadcrumb.DrawingNumber, Model.Breadcrumb.Scope, ClichePartNumber = Model.Breadcrumb.ClichePartNumber, ClicheDrawingNumber=Model.Breadcrumb.ClicheDrawingNumber, VIN=Model.Filter.VIN, MVS=Model.Filter.MVS  })
                                                </li>

                                            }

                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        </ol>
    </nav>
</div>