@using openPER.ViewModels;
@model NavigationViewModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-justified">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">openPER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Vehicles
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var make in Model.AllLinks)
                        {
                            <li class="py-0 my-0">
                                <span class="dropdown-item-text fw-bold py-0 my-0">@make.Description</span>
                            </li>
                            @foreach (var mod in make.Models)
                            {
                                <li class="py-0 my-0">
                                    <span class="dropdown-item-text fw-bold py-0 my-0">@mod.Description</span>
                                </li>
                                @foreach (var cat in mod.Catalogues)
                                {
                                    <li class="py-0 my-0">
                                        @Html.ActionLink($"{cat.Description}", "Index", "Groups", new { Model.Language, MakeCode = make.Code, SubMakeCode = make.SubCode, ModelCode = mod.Code, CatalogueCode = cat.Code, VIN = Model.Filter.Vin, MVS = Model.Filter.Mvs }, new { @class = "dropdown-item py-0 my-0" })
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @Resources.FrontEnd.LanguageDropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdownMenuLink">
                        <vc:language-choice-widget language="@ViewData["Language"]"></vc:language-choice-widget>
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Resources.FrontEnd.SearchDropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="searchDropdownMenuLink">
                            <vc:search-widget language="@ViewData["Language"]"></vc:search-widget>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

