@model openPER.ViewModels.SubGroupsViewModel
@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <strong>Subcategory selection</strong>
            <p>Select a subcategory from the side menu or directly from the map.</p>
            <div style="position: relative; left: 0; right: 0;">
                <img src="@Model.ImagePath">
                
                @foreach (var mapEntry in Model.MapEntries)
                {
                    <a title="@($"{mapEntry.GroupCode:000}{mapEntry.SubGroupCode:00} {mapEntry.Description}")"   href="@Url.Action("Index", "SubSubGroups", new {Model.Navigation.Language, Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, mapEntry.GroupCode, mapEntry.SubGroupCode, MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})">
                        <div style="position: absolute; top: @(mapEntry.Y+"px"); left: @(mapEntry.X+"px"); width: 24px;height:24px">
                            <img src="~/SiteImages/SelectCircle.png"/></div></a>

                }
            </div>
            <p>
                @Html.ActionLink("All drawings", "Detail", "Drawings", new {Model.Navigation.Language, Model.MakeCode, Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode,SubGroupCode="ALL", SubSubGroupCode="ALL", DrawingNumber = 0, Scope="Group", MVS=Model.Navigation.Filter.Mvs, VIN=Model.Navigation.Filter.Vin})

            </p>
        </div>

    </div>
</div>
