@model openPER.ViewModels.SubGroupsViewModel
@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation.Breadcrumb)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <strong>Subcategory selection</strong>
            <p>Select a subcategory from the side menu or directly from the map.</p>
            <div style="position: relative; left: 0; right: 0;">
                <img src="@Url.Action("CatalogueGroupImage", "Image", new {  Make = Model.MakeCode, SubMake = Model.SubMakeCode, Model = Model.ModelCode, Catalogue = Model.CatalogueCode, Group=Model.GroupCode })">
                
                @foreach (var mapEntry in Model.MapEntries)
                {
                    <a title="@($"{mapEntry.GroupCode:000}{mapEntry.SubGroupCode:00} {mapEntry.Description}")"   href="@Url.Action("Index", "SubSubGroups", new {Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, mapEntry.GroupCode, mapEntry.SubGroupCode})">
                        <div style="position: absolute; top: @(mapEntry.Y+"px"); left: @(mapEntry.X+"px"); width: 24px;height:24px">
                            <img src="~/SiteImages/SelectCircle.png"/></div></a>

                }
            </div>
            <p>
                @Html.ActionLink($"All drawings", "Detail", "Drawings", new {Model.MakeCode, Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode,SubGroupCode="*", SubSubGroupCode="*", DrawingNumber = 1, Scope="Group"})

            </p>
        </div>

    </div>
</div>
