@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model openPER.ViewModels.ClicheViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="@Model.ClicheDrawings.First(x=>x.ClichePartDrawingNumber==Model.CurrentDrawing).ImagePath">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container-fluid horizontal-scrollable">
                            <div class="row text-center">
                                @{
                                    @foreach (var drawing in Model.ClicheDrawings)
                                    {
                                        <div class="col-xs-4">
                                            <img class="img-fluid" src="@drawing.ThumbImagePath"><br />
                                            @Html.ActionLink("Go", "Detail", "Cliche", new {Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, Model.Navigation.Breadcrumb.ModelCode, Model.Navigation.Breadcrumb.CatalogueCode, Model.Navigation.Breadcrumb.GroupCode, Model.Navigation.Breadcrumb.SubGroupCode, Model.Navigation.Breadcrumb.SubSubGroupCode, DrawingNumber = Model.Navigation.Breadcrumb.DrawingNumber,Model.Navigation.Breadcrumb.Scope, ClichePartNumber = drawing.ClichePartNumber, ClicheDrawingNumber=drawing.ClichePartDrawingNumber, MVS=Model.Navigation.Filter.MVS, VIN=Model.Navigation.Filter.VIN })</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <table class="table table-sm">
                <tr><th>&nbsp;</th><th>Prod. code</th><th>Fur. Descr.</th><th>Comp.</th><th>Modif.</th><th>Qty</th><th>Notes</th></tr>
                @{

                    int lastOrder = 999; 
                    @foreach (var item in Model.CurrentClicheDrawing.Parts)
                    {
                        if (item.TableOrder != lastOrder)
                        {
                            <tr><td>@Html.DisplayFor(model => item.TableOrder)</td><td colspan="7">@Html.DisplayFor(model => item.Description)</td></tr>
                            lastOrder = item.TableOrder;
                        }
                        <tr>
                            <td>&nbsp;</td>
                            <td >@Html.ActionLink(item.PartNumber ,"SearchResults", "Part", new {Model.Navigation.Breadcrumb.Language, item.PartNumber }) <a href="https://www.google.com/search?q=FIAT+@item.PartNumber" target="_blank" class="bi bi-search"></a></td>
                            <td>@Html.DisplayFor(model => item.FurtherDescription)</td>
                            <td>@Html.DisplayFor(model => item.Compatibility)</td>
                            <td>
                                <ul>
                                    @foreach (var mod in item.Modifications)
                                    {
                                        <li title="@mod.FullDescription">@Html.DisplayFor(model => mod.Type)@Html.DisplayFor(model => mod.Code)</li>
                                    }
                                </ul>
                            </td>
                            <td>@Html.DisplayFor(model => item.Quantity)</td>
                            <td>@Html.DisplayFor(model => item.Notes)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

